 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">iTunes</h5>
                <p class="grey-text text-lighten-4">Collectives of musical mistery</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/sharer/sharer.php?u="><img src="../assets/img/facebook (1).png"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"><img src="../assets/img/youtube.png"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"><img src="../assets/img/google-plus.png"></a></li>
                  <li><a class="grey-text text-lighten-3" href="#!"><img src="../assets/img/twitter.png"></a></li>
            
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
            