<form class="form-inline">
  <div class="form-group">
    <input type="search"
           class="col l6 form-control"
           placeholder="Enter search string"
           #search>
  </div>
  <button type="button"
          class="btn btn-primary"
          (click)="doSearch(search.value)">
    Search
  </button>
</form>

<hr />

<div class="text-center">
  <p class="lead"
     *ngIf="loading">Loading...</p>
</div>
<div class="list-group">
  <a [routerLink] = "['/artist', track.artistId]"
     class="list-group-item list-group-item-action"
     *ngFor="let track of result">
    <img src="{{track.thumbnail}}">
    {{ track.name }} <span class="text-muted">by</span> {{ track.track }}
    <br />
  </a>
</div>
<!-- <app-artist *ngIf = 'result !== undefined'[TrackData] = 'result'></app-artist>
 -->